*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    color: #ffffff;
    font-family: sans-serif;
}

.wallpaper{
    background-image: url(images/headphones_hero_1.jpg);
    /* height: 800px;
    width: 1400px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

header{
    display: flex;
    /* max-width: 1400px; */
    padding-top: 20px;
    /* justify-content: center; */
    margin: auto;
    /* gap: 100px; */
}

.logo{
    width: 161px;
    height: 32px;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    width: 100%;
    
}

.nav-links{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover, a:active{
    color: #FF6565;
}

.landing{
    margin: auto;
    max-width: 640px;
    text-align: center;
    margin-top: 300px;
    height: 313px;
    width: 637px;
}

.landing button{
    margin-top: 40px;
    max-width: 162px;
    height: 44px;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: #FF6565;
    border: none;
}

button:hover, button:active{
    opacity: 0.9;
    cursor: pointer;

}

.call{
    padding: 20px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
}

.hamburger{
    display: none;
    margin-left:20px;
}

.logo-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.cont1{
    width: 637px;
    height: 104px;
    margin: auto;
    font-size: 15px;
    line-height: 25px;
}

.about{
    color: #071629;
    width: 637px;
    height: 184;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.about p{
    margin-top: 40px;
    font-size: 15px;
    line-height: 20px;
}

.about h1{
    font-size: 30px;
}

.ipsum h3{
    color: #071629;
    margin-top: 20px;
}

.ipsum p{
    color: #071629;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 26px;
}

.lorem{
    display: flex;
    width: 1002px;
    height: 193px;
    margin: auto;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.ipsum{
    width: 207px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ipsum img{
    width: 70px;
    height: 50px;
}


.result-wallpaper{
    /* width: 1400px;
    height: 650px; */
    background-image: url(images/headphones_hero_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 100px;
}

.result-wallpaper h2{
    padding-top: 170px;
    text-align: center;
    width: 448px;
    height: 40px;
    max-width: 100%;
    margin: auto;
}

.result{
    width: 637px;
    height: 104px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-top: 50px;
    line-height: 25px;
}

.two{
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0px 200px;
}

img{
    width: 80%;
    height: 80%;
}

.pent{
    width: 190px;
    height: 190px;
    position: relative;
}
.pent-child{
    position: absolute;
    top: 40px;
    width: 80%;
    text-align: center;
}

.pent-child h3{
    font-size: 40px;
    width: 89px;
    height: 26px;
    padding-left: 30px;
}

.pent-child p{
    font-size: 12px;
    margin-top: 40px;
}

.contact-us{
    width: 335px;
    height: 375px;
    margin: auto;
    color: #071629;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.contact-us div{
    width: 335px;
    height: 29px;
    font-size: 13px;
    font-weight: bold;
}

.contact-us h2{
    text-align: center;
}

form input, textarea{
    border: none;
}

form input{
    width: 250px;
    height: 30px;
}

.contact-us button{
    margin-left: 100px;
    margin-top: 50px;
    width: 162px;
    height: 44px;
    border-radius: 20px;
    background-color: #FF6565;
    color: #ffffff;
    border: none;

}

.label{
    margin-top: 30px;
    border-bottom: #071629 solid 1px;
    padding-bottom: 5px;
}


@media (max-width: 480px) {
    nav{
        padding: 10px;
        align-items: start;
        position: relative;
        gap: 10px;
        max-width: 100%;
        
    }

    .logo-wrapper{
        flex-direction: column;
        padding: 0;
        margin-right: 50px;
    }

    .hamburger{
        display: flex;
        height: 32px;
        align-items: center;
        padding-left: 20px;
    }


    .nav-links{
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.1);
        top: 70px;
        left: 38%;
        padding: 20px;
        border-radius: 10px;
        gap: 30px;
        margin-top: 20px;
    }

    .nav-links.active{
        display: flex;
    }

    .landing{
        margin-top: 150px;
        max-width: 90%;
        padding: 20px;
    }
    .landing p{
        font-size: 12px;
        padding-left: 30px;
    }

    .about{
        max-width: 80%;
        padding: 20px;
        text-align: center;
    }

    .about p{
        padding-left: 30px;
    }

    .lorem{
        flex-direction: column;
        max-width: 50%;
        margin: auto;
        gap: 30px;
        padding: 0px 0px;
    }
    #video{
        margin-top: 40px;
    }

    .ipsum img{
        margin: auto;
    }

    .cont1{
        max-width: 90%;
    }

    .wallpaper{
        width: 100%;
        height: 100vh;
    }

    .result-wallpaper h2, p{
        max-width: 80%;
    }

    .result-wallpaper{
        max-width: 100%;
        height: 100%;
        margin-top: 800px;
    }

    .two{
        flex-direction: column;
        align-items: center;
        /* padding-top: 60px; */
        padding-bottom: 30px;
        padding: 60px 0px;

    }

    .pent-child p{
        padding-left: 5px;
    }

    .pent{
        padding-left: 40px;
    }

    .pent-child h3{
        padding-right: 15px;
    }

    #pent-gap{
    margin-top: 0px;
    }

    .contact-us{
        max-width: 80;
    }


}

/* TABLET VERSION */
@media (max-width: 768px) and (min-width: 481px) {

    /* HEADER */
    nav {
        padding: 15px 20px;
        align-items: center;
    }

    .logo-wrapper {
        flex-direction: row;
        padding: 0 20px;
    }

    .hamburger {
        display: none; /* tablets show full menu */
    }

    .nav-links {
        display: flex;
        gap: 30px;
        background: transparent;
        position: static;
        flex-direction: row;
        padding: 0;
    }

    /* HERO SECTION */
    .landing {
        margin-top: 200px;
        max-width: 80%;
        padding: 0 30px;
        text-align: center;
    }

    .landing p {
        font-size: 14px;
    }

    .wallpaper {
        height: 100vh;
    }

    /* ABOUT */
    .about {
        max-width: 80%;
        margin-top: 80px;
        padding: 20px;
    }

    .about p {
        line-height: 22px;
    }

    /* WHAT WE DO */
    .lorem {
        width: 100%;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding: 0;
    }

    .ipsum {
        width: 45%;
        max-width: 250px;
    }

    .ipsum p {
        padding-left: 0;
        text-align: center;
    }

    /* RESULTS SECTION */
    .result-wallpaper {
        height: 600px;
        background-position: top;
        padding-bottom: 60px;
    }

    .result-wallpaper h2 {
        max-width: 90%;
        padding-top: 120px;
    }

    .result {
        max-width: 80%;
        padding-top: 30px;
    }

    .two {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding: 0;
    }

    .pent {
        width: 180px;
        height: 180px;
    }

    /* CONTACT */
    .contact-us {
        max-width: 70%;
        margin-top: 80px;
    }

    .contact-us button {
        margin-left: 0;
        margin-top: 40px;
    }

    /* FOOTER */
    .footer-icons {
        max-width: 80%;
        margin: auto;
        justify-content: space-between;
        padding-top: 40px;
    }

    footer {
        height: 200px;
    }

    .copy {
        margin-top: 40px;
    }
}