*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    color: #ffffff;
    font-family: sans-serif;
}

a{
    color: #ffffff;
}

header {
   display: flex;
   padding: 10px 100px;
   /* border: 2px solid; */
   position: absolute;
   width: 1104px;
   height: 30px;
   justify-content: center;
}

header nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

header div{
    display: flex;
    gap: 20px;
}

.get{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.grin{
    display: flex;
    gap: 50px;
}
.get h1{
    margin-top: 100px;
    font-size: 48px;
}

.pros{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid; */
}

.learn h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.banner{
    height: 100vh;
    background-image: url("./CSS_Advanced/Object.png");
    width: 100%;
}

.banner button{
    border-radius: 10px;
    width: 162px;
    height: 44px;
    background-color: #C271FF
}

.quote {
    display: flex;
    justify-content: center;
    width: 1400px;
    height: 1093;
    padding: 50px 50px;
    gap: 30px;
    background-color: #C271FF;
    margin-top: 20px;
    
}

/* .person{
    display: flex;
    flex-direction: column;
    text-align: start;
} */

.smile{
    display: flex;
    margin: 50px 150px;
    /* border: 2px solid #C271FF; */
    padding: 30px 30px;
    height: 500px;
    color: #071629;
}
.tutorial h2{
    text-align: center;
    margin-top: 50px;
    color: #071629;
}

.rating {
    display: flex;
    align-items: center;
    gap: 30px;
}

.member {
    text-align: center;
    padding: 50px 0px;
    width: 1500px;
    height: 502px;
    background-color: #071629;
}

.membership{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0px 50px;
}

.member > div > div { 
    max-width: 250px;
}

.member button{
    margin-top: 70px;
    width: 162px;
    height: 44px;
    border-radius: 20px;
    background-color: #C271FF;
}

.faq{
    text-align: center;
    color: #071629;
    width: 920px;
    height: 702px;
    margin-left: 300px;
    /* border: 2px solid; */
    margin-top: 70px;
}

.how{
    display: flex;
    text-align: left;
    justify-content: space-between;
    
}

.faq h2{
    font-size: 60px;
}

.sit{
    max-width: 400px;
}

.sit h3{
    margin-top: 60px;
}

.footer {
    text-align: center;
    background-color: #071629;
    width: 1500px;
    height: 249px;
}

.footerlogo{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
}

.footer p{
    font-size: 12px;
    color: #ffffff;
}